* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(218, 218, 218);
}

.bg__color {
    background-color: #000 !important;
}

.f__family {
    font-family: 'Source Sans Pro', sans-serif;
}

.m__bottom {
    margin-bottom: 0 !important;
}

.links {
    color: white !important;
    text-decoration: none !important;
}

/* MAIN */

#main {
    background-image: url(/img/background-header.jpg);
    height: 95vh;
    background-size: cover;
}

.title {
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    user-select: none;
}
